* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}
nav {
  width: 100%;
  height: 80px;
  padding: 1rem 5rem;
  background-color: #272424;
  font-size: 2rem;
  color: #fff;
}
a {
  color: #ababab;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
button {
  padding: 1rem 2rem;
  background-color: #4b6cc1;
  border-radius: 40px;
  border: 2px solid #4b6cc1;
  font-size: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
}
button:hover {
  transform: scale(1.1);
  background-color: #272424;
  border: 2px solid #4b6cc1;
}
button:focus {
  outline: none;
}

.logo {
  color: #fff;
}
.nav {
  font-size: 22px;
  font-weight: 300;
  margin: 0 1rem;
}
.bg {
  background-color: #272424;
  height: 800px;
  padding-top: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
.profile_pic_wrap{
  margin-left: 4rem;
  width: 400px;
  background-color: #111;
  padding: 4rem;
  height: 350px;
}

.profile_pic img {
  width: 400px; 
}

.profile_text {
  width: 50%;
  /* margin: 5rem 0; */
}
.profile_name {
  font-size: 3rem;
  color: #fff;

  /* font-family: 'Lora', serif; */
}
.profile_desc {
  color: grey;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project_line {
  padding-bottom: 60px;
  width: 100%;
}
.project {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 4px solid #f6f6f6;
  color: #919191;
}
.project_detail{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;
}
.project_block {
  width: 450px;
  height: 250px;
  background-color: #f6f6f6;
  border-radius: 2%;
  padding: 2rem;
  margin: 0px 130px 100px 0;
  transition: 0.5s;
}
/* .project_block:hover{
    width: 510px;
    height: 400px;
    transition: .5s;
} */
.pic_wrap {
  width: 500px;
  height: 270px;
  overflow: hidden;
  border-radius: 2%;
  /* position: relative; */
}
.pic_wrap img {
  transition: 0.5s ease-out;

}
.pic_wrap:hover img {
  transform: scale(1.1);
}
.project_block img {
  width: 100%;
  border-radius: 2%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.2);
}
.project_title {
  font-family: "Lora", serif;
  /* font-style: italic; */
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.skills {
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.skill {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(112, 113, 133);
  color: #fff;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
  transition: 0.5s ease-out;
  user-select: none;
}
.skill:hover {
  transform: scale(1.1);
}

.more {
  background-color: #4b6cc1;
  margin: 1rem auto;
  line-height: 0px;
  padding: 1.5rem 0;
  width: 150px;
  border-radius: 50px;
  border: 2px solid #4b6cc1;

}
.more:hover{
    background-color: #fff;
    color: #4b6cc1;
}
.intro{
    font-size: 1.5rem;
    color: rgb(129, 126, 126);
    font-weight: 300;
}
.footer {
  /* background-color: #fff; */
  background-color: #272424;
  height: 500px;
  padding-top: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
.block {
  /* margin: 2rem 5rem; */
  width: 50%;
  margin-top: 2rem;
}
.link {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: grey;
  margin-top: 2rem;
  margin-left: 7rem;
}
.link p{
    transition: .5s ease-in-out;
}
.link p:hover{
    color: #fff;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    color: #4b6cc1;
    fill: currentColor;
  }


@media(max-width: 768px){

  nav{
    padding: 1rem 2rem;
  }
  .logo{
    font-size: 24px;
  }
  .bg{
    padding: 3rem;
    height: 1000px;
  }
  .profile_text{
    width: 100%;
    margin-bottom: 3rem;
  }
  .profile_pic_wrap{
    margin-left: 0;
    padding: 2rem;    
  }
  .project_line{
    margin: 0 2rem;
    padding: 20px;
  }
  .project_block{
    margin: 0 2rem 5rem;
    height: 180px;
    width: 80%;
  }
  .project_block img{
    width: 100%;
    box-shadow:none;
  }
  .project_title{
    width: 90%;
    font-size: 26px;
    margin: auto;
  }
  .pic_wrap{
    overflow: hidden;
    height: 200px;
    width: 80vw;
margin: 0;
  }
  .project_detail{
    width: 90%;
    margin: 1rem auto;
  }
  .intro{
    width: 80%;
    margin: auto;
    font-size: 18px;
  }
  .project{
    font-size: 20px;
  }
  .footer{
    height: auto;
  }
  .block{
    width: 90%;
    margin: auto;
  }
  .link{
    margin: 2rem;
  }
}